chromedriver.exe
code_soup.txt
geckodriver.log
python
pythonsqlite.db
selenium_test.py
__pycache__/CarScraper.cpython-38.pyc
__pycache__/CarScraper.cpython-310.pyc
autoscout/dati.json
autoscout/__pycache__/Autoscout.cpython-38.pyc
models/__pycache__/car.cpython-38.pyc
subito/dati.json
subito/__pycache__/Subito.cpython-38.pyc
subito/__pycache__/Subito.pypy38.pyc
dati.json
automobile/__pycache__/Automobile.cpython-38.pyc
DAO/__pycache__/DAO.cpython-38.pyc
