*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(231, 231, 231);
}
a{
    display: block;
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    color:inherit;
}
li{
    width: 70vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    background-color: rgba(87, 2, 13, 0.089);
}

h1,h2{
    display: inline-block;
    margin: 20px 5px 20px 0;
}
h3,h4{
    display: inline-block;
    margin: 10px 5px 10px 0;
}
textarea{
    width: inherit;
    padding: 0 20px;
}
.description{
    margin: 20px 0;
}
.infos{
    width: inherit;
}
.input-change{
    font-weight: bold;
    display:none;
}
.change,.update{
    display: inline-block;
    width: 15px;
    height: 15px;
    text-align: center;
    cursor: pointer;
}

img{
    object-fit:contain;
    width: 70vw;
    height: 300px;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#spinner{
    display: none;
    position: fixed;
    background-color: rgba(128, 128, 128, 0.253);
    width: 100vw;
    height: 100vh;
    z-index: 2;
    align-items: center;
    justify-content: center;
}
#spinner img{
    width: 40px;
    height: 40px;
    -webkit-animation: rotation 2s infinite linear;
    -moz-animation: rotation 2s infinite linear;
    -o-animation: rotation 2s infinite linear;
    animation: rotation 2s infinite linear;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
}
@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to   {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to   {-o-transform: rotate(359deg);}
}
@keyframes rotation {
    from {transform: rotate(0deg);}
    to   {transform: rotate(359deg);}
}
button{
    cursor: pointer;
    border-radius: 20%;
    align-self: flex-end;
    width: 100px;
    height: 30px;
    margin:60px 200px 0 0;
}