<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
    <link rel="stylesheet" href="css/main.css">

</head>
<body>
    <div id="spinner">
        <img src="./img/spinner.svg" alt="">
    </div>
    <div id="app">
        <nav>
            <div>
                <button v-on:click="changeOrderElems">{{buttonStatus}}</button>
            </div>
            <div>
                <label >carburante</label><input v-on:keyup.enter="sendSearch(carsSearchParams.toDbObj(),cars)" type="text" v-model="carsSearchParams.fuel.value">
            </div>
            <div>
                <label>annoMin immatricolazione</label><input v-on:keyup.enter="sendSearch(carsSearchParams.toDbObj(),cars)" type="number" v-model.number="carsSearchParams.date.value">
            </div>
            <div>
                <label>prezzoMax</label><input v-on:keyup.enter="sendSearch(carsSearchParams.toDbObj(),cars)" type="number" v-model.number="carsSearchParams.prezzo.value"> 
            </div>
            <div>
                <label> euroMin</label><input v-on:keyup.enter="sendSearch(carsSearchParams.toDbObj(),cars)" type="number" v-model.number="carsSearchParams.euro.value">
            </div>
            <div>
                <label >kmMax</label><input v-on:keyup.enter="sendSearch(carsSearchParams.toDbObj(),cars)" type="number" v-model.number="carsSearchParams.km.value">
            </div>
            <div>
                <label >titolo</label><input v-on:keyup.enter="sendSearch(carsSearchParams.toDbObj(),cars)" type="text" v-model="carsSearchParams.nome.value">
            </div>
                <button v-on:click="sendSearch(carsSearchParams.toDbObj(),cars)">search</button></nav>
                <div id="filler"></div>
       <div v-if="cars && cars.length > 0">
        <ul id="container">
            <li v-for="car in cars" :key="car.url">
                 <a v-bind:href="car.url" target="blank"><h2>{{car.name}}</h2> </a>
                 <a v-bind:href="car.url" target="blank" ><img v-bind:src="car.imgUrl" alt=""></a> <img src="./img/edit_icon.svg" v-on:click="replaceWithInput($event,car)" class="change" name="imgUrl">
                 <div class="input-change"><label for="imgUrl"> ImgUrl:</label><input v-on:keyup.enter="update($event,car)"v-model="car.imgUrl" type="string"><img src="./img/ok_icon.png" v-on:click="update($event,car)" class="update" name="imgUrl"></div>
                 <div id="infos">
                    <h4>Prezzo: {{ car.price }}</h4> <img src="./img/edit_icon.svg" v-on:click="replaceWithInput($event,car)" class="change" name="price">
                    <div class="input-change"><label for="price">Prezzo:</label><input v-on:keyup.enter="update($event,car)"v-model="car.price" type="number"><img src="./img/ok_icon.png" v-on:click="update($event,car)" class="update" name="price"></div>
                    <br>
                    <h4>Euro: {{car.euro ? car.euro : "Non specificato"}}</h4><img src="./img/edit_icon.svg" v-on:click="replaceWithInput($event,car)" class="change" name="euro">
                    <div class="input-change"><label for="euro">Euro:</label><input v-on:keyup.enter="update($event,car)"v-model="car.euro" type="number"><img src="./img/ok_icon.png" v-on:click="update($event,car)" class="update" name="euro"></div>
                    <br>
                    <h4>{{car.km}} km</h4><img src="./img/edit_icon.svg" v-on:click="replaceWithInput($event,car)" class="change" name="km">
                    <div class="input-change"><input v-on:keyup.enter="update($event,car)" v-model="car.km" type="number"><label for="km"> km:</label><img src="./img/ok_icon.png" v-on:click="update($event,car)" class="update" name="km"></div>
                    <br>
                    <h4>{{car.fuel}}</h4><img src="./img/edit_icon.svg" v-on:click="replaceWithInput($event,car)" class="change" name="fuel">
                    <div class="input-change"><label for="fuel">Carburante:</label><input type="text" v-on:keyup.enter="update($event,car)"v-model="car.fuel" name="description"><img src="./img/ok_icon.png" v-on:click="update($event,car)" class="update" name="description"></div>
                    <br>
                    <h4>Data immatricolazione: {{car.date}}</h4>
                    <br>
                    <h4>Data aggiunta: {{car.creationDate}}</h4>
                    <br>
                    <h4>Data ultimo controllo: {{car.lastChecked}}</h4>
                    <br>
                    <h3 class="description">DESCRIZIONE</h3>
                    <br>
                    <h4>{{car.description}}</h4><img src="./img/edit_icon.svg" v-on:click="replaceWithInput($event,car)" class="change" name="description">
                    <div class="input-change"><label for="description">DESCRIZIONE:</label><textarea v-on:keyup.enter="update($event,car)"v-model="car.description" name="description" id="" cols="30" rows="10"></textarea><img src="./img/ok_icon.png" v-on:click="update($event,car)" class="update" name="description"></div>
                    <div>
                        <button v-on:click="closeAlltabs($event,car)">close all tabs</button>
                        <button v-on:click="commit($event,car)">Commit</button>
                        <button v-on:click="reload($event,car)">Reload</button>
                    </div>

                </div>
            </li>
          </ul>
        
    </div> 
    <div v-else-if="cars && (cars.length == 0 || cars == null)" >
        <h1>Sorry, no cars</h1>
    </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script  type="module" src="./js/index.js"></script>
</html>